@charset "UTF-8";
body {
  background: #fff;
}

body main {
  z-index: 2;
  margin-bottom: 400px;
  background: #fff;
  padding-top: 50px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

body .footer {
  background: #000;
  height: 400px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.nav {
  background: red;
}

.nav .navbar {
  background: #fff !important;
  width: 860px;
  padding: 30px;
  margin: 0 auto;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav.nav-scrolled .navbar {
  padding: 15px;
}

.nav.nav-scrolled .header__logo {
  width: 120px;
}

.navbar-nav {
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar .nav-item {
  font-size: 15px;
  color: #666;
  position: relative;
}

.navbar .nav-item::after {
  content: "";
  width: 23px;
  height: 2px;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 6px;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
  background: #FAD312;
  opacity: 0;
}

.navbar .nav-item:hover::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.header__logo {
  width: 160px;
  height: 45px;
  background: url("./../image/logo_header.png") no-repeat center center;
  background-size: 100% auto;
}

/* btn */
.team__item .team__btn, .judge__card .btn, .subscribe .subscribe__input button {
  display: inline-block;
  font-size: 14px;
  padding: 5px 30px;
  background: #FAD312;
  color: yellow;
  border-radius: 0;
}

/* title */
section .title_1 {
  display: inline-block;
  margin: 0 auto 60px auto;
  border-bottom: 4px solid #FFE452;
  padding-bottom: 5px;
}

section .title_1 span {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}

section .title_1 span::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #000;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-size: 100% auto;
  position: relative;
  right: 5px;
  top: 3px;
}

section .dark-mode.title_1 {
  border-color: #626262;
}

section .dark-mode.title_1 span {
  color: #FAD312;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  height: calc(100vh - 100px);
  background: -webkit-gradient(linear, right top, left top, color-stop(30%, transparent), color-stop(0, #FFE452)), #fff;
  background: linear-gradient(-90deg, transparent 30%, #FFE452 0), #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .bg {
  width: 80%;
  height: 70vh;
  margin: 0 auto;
  background: url("./../image/bg_header.png") no-repeat center center;
  background-size: 80% auto;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #000;
}

/* ------- 參賽隊伍 ------- */
.team {
  text-align: center;
  max-width: 840px;
  margin: 0 auto 70px auto;
  background: #fff;
}

.team .title_1 span::before {
  width: 22px;
  height: 22px;
  -webkit-mask-image: url("./../image/group.png");
          mask-image: url("./../image/group.png");
}

.team .team-list {
  padding: 50px 20px 0 20px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__item {
  width: 31%;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
  margin-bottom: 50px;
}

.team__item .team__title {
  font-size: 18px;
  text-align: left;
  padding: 20px 10px;
  font-weight: bold;
  background: #FFE452;
  position: relative;
  margin-bottom: 7px;
}

.team__item .team__title:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #000;
  background-size: 100% auto;
  -webkit-mask-image: url("./../image/add-circular-outlined-button.png");
          mask-image: url("./../image/add-circular-outlined-button.png");
  -webkit-mask-size: cover;
          mask-size: cover;
  position: absolute;
  right: 10px;
  z-index: 2;
}

.team__item .team__title .team__name {
  color: #787878;
  display: block;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 10px;
}

.team__item .team__btn {
  position: relative;
  top: -20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.team__item .team__pic {
  height: 160px;
  overflow: hidden;
  position: relative;
}

.team__item .team__pic img {
  max-width: 100%;
  height: auto;
}

.team__item .team__pic::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(130, 125, 168, 0)), to(#e5b01c59));
  background: linear-gradient(to bottom right, rgba(130, 125, 168, 0), #e5b01c59);
  border: 3px solid rgba(0, 0, 0, 0);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.team__item:nth-of-type(even) .team__title {
  background: #000;
  color: #fff;
  border-color: #000;
}

.team__item:nth-of-type(even) .team__title:before {
  background-color: #fff;
}

.team__item:nth-of-type(even):hover .team__pic::after {
  border-color: #000;
}

.team__item:nth-of-type(even):hover .team__btn {
  background: #000;
  color: #fff;
}

/* hover */
.team__item:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.team__item:hover .team__pic::after {
  width: 96%;
  height: 94%;
  border-color: #FAD312;
  left: 2%;
  top: 3%;
  background: none;
}

.team__item:hover .team__btn {
  top: -40px;
}

/* ------- 比賽簡介 ------- */
.description {
  margin-bottom: 80px;
  text-align: center;
}

.description .title_1 span::before {
  -webkit-mask-image: url("./../image/hastag.png");
          mask-image: url("./../image/hastag.png");
}

.description .description__inner {
  background: #000 url("./../image/girl-2705518_1920.jpg") no-repeat center center;
  background-size: 100% auto;
  background-attachment: fixed;
}

.description .description__inner .summary {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  padding: 30px 20px;
}

.description .description__title {
  color: #fff;
  margin-bottom: 3rem;
  height: 120px;
  position: relative;
}

.description .description__title h4 {
  height: 120px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.description .description__title h4 span {
  color: #FAD312;
}

.description .description__title .typed-cursor {
  color: #FAD312;
}

.description .description__title::after {
  content: '';
  display: block;
  width: 170px;
  height: 10px;
  background: #FAD312;
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 1;
}

.description .description__summary {
  color: #fff;
  font-size: 15px;
  text-shadow: 0 0 11px #3d3d3d;
  line-height: 1.7rem;
  letter-spacing: 0.14em;
}

.description .description__summary span {
  color: #FAD312;
}

/* ------- 歷屆成績 ------- */
.history {
  text-align: center;
  background: #000 url("./../image/bg_history.png") repeat-y center center;
  background-attachment: fixed;
  background-size: 960px auto;
  padding: 50px 30px 20px;
}

.history .title_1 span::before {
  width: 25px;
  height: 25px;
  top: 5px;
  -webkit-mask-image: url("./../image/medal.png");
          mask-image: url("./../image/medal.png");
  background-color: #FAD312;
}

.history .history__list {
  max-width: 1100px;
  margin: 0 auto 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0 20px;
}

.history .history__list .history__item {
  width: 22%;
  border: 2px solid #FFE452;
  padding: 20px;
  color: #fff;
  -webkit-box-shadow: 0 0 2px 0px #000;
          box-shadow: 0 0 2px 0px #000;
}

.history .history__list .history__item p {
  font-size: 40px;
  margin: 0;
}

.history .history__list .history__item span {
  font-size: 14px;
  position: relative;
  top: -10px;
}

/* ------- 使用者見證 ------- */
.comments {
  max-width: 860px;
  margin: 0 auto 80px auto;
  list-style: none;
  padding-left: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.comments .comments__item {
  width: 44%;
  margin-bottom: 60px;
  font-size: 15px;
  line-height: 2rem;
  position: relative;
}

.comments .comments__item span {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: #FAD312;
  -webkit-mask-image: url("./../image/strength.png");
          mask-image: url("./../image/strength.png");
  -webkit-mask-size: cover;
          mask-size: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.comments .comments__item p {
  padding-left: 90px;
  text-align: left;
}

.comments .comments__item:nth-of-type(2) span {
  width: 80px;
  height: 80px;
  -webkit-mask-image: url("./../image/buddha.png");
          mask-image: url("./../image/buddha.png");
}

.comments .comments__item:nth-of-type(3) span {
  -webkit-mask-image: url("./../image/sleep-hat.png");
          mask-image: url("./../image/sleep-hat.png");
}

.comments .comments__item:nth-of-type(4) span {
  -webkit-mask-image: url("./../image/xiao-long-bao.png");
          mask-image: url("./../image/xiao-long-bao.png");
}

/* ------- 評審介紹 ------- */
.judge {
  background: #000;
  text-align: center;
  padding: 100px 50px 20px;
}

.judge .judge__list {
  max-width: 600px;
  margin: 0 auto 30px auto;
  list-style: none;
}

.judge .title_1 span::before {
  color: #fff;
  -webkit-mask-image: url("./../image/idea.png");
          mask-image: url("./../image/idea.png");
  background-color: #FAD312;
}

.judge__item {
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.judge__item .pic {
  position: relative;
  margin-bottom: 10px;
}

.judge__item .pic::before {
  content: '';
  display: block;
  width: 90%;
  height: 90%;
  position: absolute;
  left: 5%;
  top: 5%;
  border: 2px solid #FAD312;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: 1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.judge__item .pic::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  background: #fff;
  -webkit-mask-image: url("./../image/add-circular-outlined-button.png");
          mask-image: url("./../image/add-circular-outlined-button.png");
  -webkit-mask-size: cover;
          mask-size: cover;
  opacity: 0;
  z-index: 2;
}

.judge__item .pic img {
  max-width: 100%;
  height: auto;
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.judge__item:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.judge__item:hover .pic::before {
  opacity: 1;
}

.judge__item:hover .pic::after {
  opacity: 1;
}

.judge__item:hover p {
  opacity: 1;
}

.judge__item:focus {
  outline: none;
}

/* slider */
.slick-center {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slick-center .pic img {
  -webkit-filter: none;
          filter: none;
}

.judge__gallery {
  max-width: 960px;
  margin: 0 auto 30px auto;
  position: relative;
  left: -50px;
  padding-left: 30px;
}

.judge__gallery .pic {
  width: calc(100% - 180px);
  border-top: 4px solid #FAD312;
  float: right;
  height: 350px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.judge__gallery .pic img {
  max-width: 100%;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.judge__card {
  border-top: 4px solid #aaa;
  width: 180px;
  height: 260px;
  background: #363636;
  position: relative;
  right: -30px;
  -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.34), 2px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.34), 2px 2px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  float: left;
  position: relative;
  top: 40px;
}

.judge__card .judge__card-title {
  font-size: 15px;
  position: relative;
}

.judge__card .judge__card-title::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 5px;
  background: #FAD312;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 10px);
}

.judge__card .judge__card-summary {
  font-size: 13px;
  color: #999;
  text-align: left;
}

.judge__card .btn {
  border: 1px solid #FAD312;
  background: none;
  color: #FAD312;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/* ------- 比賽時程 ------- */
.schedule {
  text-align: center;
  background: #FAD312;
  color: #fff;
  padding: 40px 10px;
}

.schedule .title_1 {
  border-color: #fff;
}

.schedule .title_1 span::before {
  -webkit-mask-image: url("./../image/small-calendar.png");
          mask-image: url("./../image/small-calendar.png");
}

.schedule .table {
  max-width: 960px;
  margin: 0 auto;
}

.table-bordered thead td, .table-bordered thead th {
  background: #414141;
  color: #fff;
}

.table thead th {
  border-bottom: 2px solid #262626;
}

.table-bordered {
  border: 2px solid #4d4d4d;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #4b4a4a;
}

/* ------- footer ------- */
/* ------- 報名資訊 ------- */
.subscribe {
  height: 330px;
  background: url("./../image/bg_footer.png") no-repeat center center;
  background-size: auto 380px;
  border-bottom: 3px solid #FAD312;
}

.subscribe .subscribe__inner {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.subscribe .subscribe__inner .title_1 span::before {
  -webkit-mask-image: url("./../image/information.png");
          mask-image: url("./../image/information.png");
}

.subscribe .subscribe__inner .subscribe__summary {
  letter-spacing: .15rem;
  line-height: 2rem;
  font-size: 16px;
  font-weight: 500;
  color: #666;
  margin-bottom: 40px;
}

.subscribe .subscribe__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  height: 40px;
}

.subscribe .subscribe__input input[type='email'] {
  outline: none;
  border: none;
  padding: 10px;
  display: block;
  width: 100%;
  background: none;
  border-bottom: 2px solid #000;
}

.subscribe .subscribe__input button {
  display: block;
  margin-left: 10px;
  width: 30%;
  border: 2px solid #000;
  background: none;
  padding: 5px 20px;
}

.subscribe .subscribe__input button:hover {
  background: #000;
  color: #fff;
}

/* ------- footer 社群 ------- */
.footer__info {
  color: #fff;
  max-width: 960px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info .copyright {
  color: #666;
  margin: 0;
  font-size: 13px;
}

.footer__info .footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info .footer__social-media .footer__social-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #bbb;
  -webkit-mask-size: cover;
          mask-size: cover;
  margin-left: 5px;
  cursor: pointer;
}

.footer__info .footer__social-media .footer__social-icon:hover {
  background: #eee;
}

.footer__info .footer__social-media .footer__social-icon.icon-fb {
  -webkit-mask-image: url("./../image/facebook-logo-button.png");
          mask-image: url("./../image/facebook-logo-button.png");
}

.footer__info .footer__social-media .footer__social-icon.icon-twitter {
  -webkit-mask-image: url("./../image/twitter-logo-button.png");
          mask-image: url("./../image/twitter-logo-button.png");
}

.footer__info .footer__social-media .footer__social-icon.icon-ig {
  -webkit-mask-image: url("./../image/instagram-logo.png");
          mask-image: url("./../image/instagram-logo.png");
}

.footer__info .footer__social-media .footer__social-icon.icon-g-plus {
  -webkit-mask-image: url("./../image/google-plus-logo-button.png");
          mask-image: url("./../image/google-plus-logo-button.png");
}

/* --- RWD --- */
/* 1024px */
@media screen and (max-width: 1024px) {
  .header {
    background: none;
  }
  .header .bg {
    width: 100%;
    background-size: 80% auto;
    height: 90vh;
  }
  .navbar-nav {
    text-align: center;
  }
}

/* 960px */
@media screen and (max-width: 960px) {
  .description .description__inner {
    background-size: 140% auto;
  }
  .team__item {
    width: 30%;
  }
  .judge__gallery {
    left: 0;
    padding-left: 0;
  }
  .judge__gallery .pic {
    height: 300px;
  }
  .judge__gallery .judge__card {
    height: 300px;
    right: 0;
    top: 0;
  }
}

/* 768px */
@media screen and (max-width: 768px) {
  .header {
    background: #fff;
    height: 70vh;
  }
  .header .bg {
    background-size: 80% auto;
    height: 100vh;
  }
  .team__item {
    width: 48%;
  }
  .team__item .team__pic {
    height: 180px;
  }
  .history .history__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 360px;
  }
  .history .history__list .history__item {
    width: 45%;
    margin-bottom: 20px;
  }
  .judge__gallery .pic {
    height: 250px;
  }
  .judge__gallery .judge__card {
    height: 250px;
  }
}

/* 640px */
@media screen and (max-width: 640px) {
  .header {
    background: none;
    height: 50vh;
  }
  .header .bg {
    background-size: 100% auto;
  }
  .history,
  .description .description__inner {
    background-attachment: initial;
  }
  .comments .comments__item {
    width: 100%;
  }
  .judge__gallery {
    padding-left: 0;
  }
  .judge__gallery .judge__card {
    width: 100%;
    height: 60px;
    float: none;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 0;
    position: absolute;
    border-top: none;
    background: rgba(0, 0, 0, 0.6);
  }
  .judge__gallery .judge__card .judge__card-title::after {
    display: none;
  }
  .judge__gallery .judge__card .judge__card-summary {
    display: none;
  }
  .judge__gallery .judge__card .btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 5px 20px;
    margin-left: 10px;
  }
  .judge__gallery .pic {
    width: 100%;
    height: auto;
    float: none;
  }
}

/* 480px */
@media screen and (max-width: 480px) {
  .header {
    height: 35vh;
  }
  .team__item {
    width: 100%;
  }
  .team__item .team__pic {
    height: auto;
  }
}
/*# sourceMappingURL=index.css.map */